<div>Single Blog Post</div>

{{!-- {{  GET { }.model name }} --}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{author}}</h6>
    <p class="card-text">{{blog.body}}</p>
    <a href="http://localhost:3002/{{blog.id}}" class="card-link">Add a Comment</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<br>